:root {
		--color-track: #0055c3;
		--color-new-black: #05111a;
		--color-coffee: #4d3316;
		--time-duration: 300s;
		--time-coffee-duration: 120s;
}

html {
		height: 100%;
}

.app {
		margin: 0;
		height: inherit;
}

.progress-bar {
		height: inherit;
		background-color: var(--color-track);
}

.progress-bar__meter {
		background-color: var(--color-new-black);
		width: 0;
		height: inherit;
}

.app--active .progress-bar__meter {
		animation-name: progressMe;
		animation-duration: var(--time-duration);
		animation-iteration-count: 1;
		animation-fill-mode: both;
}

.app--coffee .progress-bar__meter {
		background-image: linear-gradient(to right, var(--color-new-black), var(--color-coffee));
		animation-duration: var(--time-coffee-duration);
}


@keyframes progressMe {
		from {
				width: 0;
		}

		to {
				width: 100%;
		}

}
